@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    font-family: "Poppins", sans-serif;
}

.profile-card {
    border-radius: 30px;
    margin-top: 100px;
    width: 500px;
    background-color: rgb(64, 116, 237);
    box-shadow: 5px 5px 10px grey;
}

.image {
    margin-left: 175px;
    display: inline-flex;
    position: relative;
    top: 30px;
    height: 150px;
    padding: 3px;
    border-radius: 50%;
    background-color: rgb(64, 116, 237);
}

.profile-img {
    height: 144px;
    border-radius: 50%;
    border: 3px solid white;
}

.bottom {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 25px;
    font-size: 16px;
}

.bottom-1 {
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins";
}

.bottom-3,
.bottom-4,
.bottom-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bottom-2{
    margin-bottom: 25px;
    font-weight: 500px;
}

.bottom-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.media{
    height: 36px;
    width: 36px;
    background-color: rgb(64, 116, 237);
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}
#f{
    background-color: rgb(64, 102, 173);   
}
#t{
    background-color: rgb(28, 159, 235);
}
#i{
    background-color: rgb(230, 48, 106);
}
#y{
    background-color: rgb(242, 0, 0);
}

.bottom-4 {
    display: grid;
    grid-template-columns: 2fr 1fr 0.3fr 1fr 2fr;
}

.bottom-4 button{
    font-size: 16px;
    font-weight: 700px;
    background-color: rgb(64, 116, 237);
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 100px;
    color: white;
}
.bottom-4 button:hover{
    background-color: #1249db;
}
.but1{
    margin-right: 10px;
}
.but2{
    margin-left: 20px;
}

.bottom-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
}

.bottom-5 div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.box1,
.box2 {
    border-right: 1px solid grey;
}

.box1,
.box2,
.box3 {
    height: 32px;
}

.bottom-5 div i{
    padding-left: 5px;
    padding-right: 5px;
}